workflow/qoo10jp-order-scheduler-v1.0.json
{
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb484ba7b742928a2048bf8829668bed5b5ad9787579adea888f05980292a4a7"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression", 
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [300, 400],
      "id": "cron-trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sales_platform_accounts_qoo10jp"
      },
      "name": "Get Active Accounts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [500, 400],
      "id": "supabase-query"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.length }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check If Accounts Exist",
      "type": "n8n-nodes-base.if", 
      "typeVersion": 1,
      "position": [700, 400],
      "id": "check-accounts"
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "name": "Split Each Account",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300],
      "id": "split-accounts"
    },
    {
      "parameters": {
        "operation": "publish",
        "channel": "qoo10jp_order_collection",
        "message": "Test message"
      },
      "name": "Send Redis Message",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1100, 300],
      "id": "redis-message"
    },
    {
      "parameters": {},
      "name": "No Active Accounts",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 500],
      "id": "no-accounts"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Active Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Accounts": {
      "main": [
        [
          {
            "node": "Check If Accounts Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Accounts Exist": {
      "main": [
        [
          {
            "node": "Split Each Account",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Active Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Each Account": {
      "main": [
        [
          {
            "node": "Send Redis Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
